:root{
		--lpink : #8F035A;
		--dpink : #3B0B29;
		--black : #000000;
}

body {
	scroll-behavior: smooth;
}

.cardbtn {
	background-color: var(--dpink);
	color: white;
}
.cardbtn:hover {
	background-color: white;
	border-color: var(--dpink);
	color: var(--dpink);
}
